
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sona | Admin</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="/public/cssAdmin/bootstrap.min.css" >
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link href="/public/cssAdmin/style.css" rel='stylesheet' type='text/css' />
    <link href="/public/cssAdmin/style-responsive.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/public/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/public/css/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="/public/css/flaticon.css" type="text/css">
        <link rel="stylesheet" href="/public/css/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="/public/css/nice-select.css" type="text/css">
        <link rel="stylesheet" href="/public/css/jquery-ui.min.css" type="text/css">
        <link rel="stylesheet" href="/public/css/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="/public/css/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="/public/css/styletable.css" type="text/css">
    <!-- font CSS -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="/public/cssAdmin/font.css" type="text/css"/>
    <link href="/public/cssAdmin/font-awesome.css" rel="stylesheet"> 
    <!-- //font-awesome icons -->
    <script src="/public/jsAdmin/jquery2.0.3.min.js"></script>
</head>
<body>
    <section id="container">
    <!--header start-->
    <header class="header fixed-top clearfix">
    <!--logo start-->
    <div class="brand">

        <a href="/Admin" class="logo2">
            VISITORS
        </a>
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars"></div>
        </div>
    </div>
    <!--logo end-->

    <div class="top-nav clearfix">
        <!--search & user info start-->
        
    </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse">
            <!-- sidebar menu start-->
            <div class="leftside-navigation">
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a href="/Admin">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a class="active" href="javascript:;">
                            <i class="fa fa-th"></i>
                            <span>Data Tables</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/Admin/table">Record Booking</a></li>
                            <li><a class="active" href="/Admin/Checking">Checkin</a></li>
                        </ul>
                    </li>
                </ul>            
            </div>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!-- sidebar end -->
    <!-- main content start -->
    <section id="main-content">
        <section class="wrapper">
            <div class="booking-form">
                <form class="form-calendar" autocomplete="off" action="/Admin/Checking">
                    <div class="check-date">
                        <input type="text" autocomplete="off" class="date-input" id="date-in3" name="start_date" placeholder="Check Date">
                        <i class="icon_calendar"></i>
                    </div>
                    <div class="check-name">
                        <input type="text" autocomplete="off" class="name-input" id="name-input" name="name-input" placeholder="YOUR NAME">
                    </div>
                    <button class="button-calendar" type="submit">Check</button>
                </form>
            </div>
            <div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
        Basic table
        </div>
        <div>
        <table class="table" ui-jq="footable" ui-options='{
            "paging": {
            "enabled": true
            },
            "filtering": {
            "enabled": true
            },
            "sorting": {
            "enabled": true
            }}'>
            <thead>
            <tr>
                <th data-breakpoints="xs">ID</th>
                <th>CheckIn</th>
                <th>CheckOut</th>
                <th>Name</th>
                <th data-breakpoints="xs">StatusCheckIn</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i of locals.record) { %>
                <%let options = { year: 'numeric', month: 'long', day: 'numeric' }; %>
                <% let FormatStartDate = new Date(i.Start_Date).toLocaleDateString("en-US", options); %>
                <% let FormatEndDate = new Date(i.End_Date).toLocaleDateString("en-US", options); %>
                <tr data-expanded="true">
                    <form action="/Admin/Checking" method="POST">
                    <td><%= i.ID %></td>
                    <td><%= FormatStartDate %></td>
                    <td><%= FormatEndDate %></td>
                    <td><%= i.Name %></td>
                    <td><button type="submit" class="btn btn-success" value="submit" >Check-In</button></td>
                    <input type="hidden" id="custId" name="custID" value='<%= i.Booking_No %>'>
                    </form>
                </tr>
            <% } %>
            </tbody>
        </table>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>

        <li class="page-item"><a class="page-link" tabindex="0" href="/Admin/table">1</a></li>
        <li class="page-item"><a class="page-link" tabindex="1" href="/Admin/table">2</a></li>
        <li class="page-item"><a class="page-link" tabindex="2" href="/Admin/table">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" tabindex="3">Next</a>
        </li>
        </ul>
    </nav>
    </div>
    </section>
    <!-- footer -->
            <div class="footer">
                <div class="wthree-copyright">
                <p>© 2017 Visitors. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
                </div>
            </div>
    <!-- / footer -->
    </section>

<!--main content end-->

<!--main content end-->
    </section>
    <script src="/public/jsAdmin/bootstrap.js"></script>
    <script src="/public/jsAdmin/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/public/jsAdmin/scripts.js"></script>
    <script src="/public/jsAdmin/jquery.slimscroll.js"></script>
    <script src="/public/jsAdmin/jquery.nicescroll.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/public/jsAdmin/flot-chart/excanvas.min.js"></script><![endif]-->
    <script src="/public/jsAdmin/jquery.scrollTo.js"></script>
    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/jquery.magnific-popup.min.js"></script>
    <script src="/public/js/jquery.nice-select.min.js"></script>
    <script src="/public/js/jquery-ui.min.js"></script>
    <script src="/public/js/jquery.slicknav.js"></script>
    <script src="/public/js/owl.carousel.min.js"></script>
    <script src="/public/js/main.js"></script>

</body>
</html>
