<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<head>
<title>Visitors an Admin Panel Category Bootstrap Responsive Website Template | Responsive_table :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link rel="stylesheet" href="/public/cssAdmin/bootstrap.min.css" >
<!-- //bootstrap-css -->
<!-- Custom CSS -->
<link href="/public/cssAdmin/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/public/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/public/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/public/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/styletable.css" type="text/css">
<link href="/public/cssAdmin/style-responsive.css" rel="stylesheet"/>
<!-- font CSS -->
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- font-awesome icons -->
<link rel="stylesheet" href="/public/cssAdmin/font.css" type="text/css"/>
<link href="/public/cssAdmin/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<script src="/public/jsAdmin/jquery2.0.3.min.js"></script>
</head>
<body>
<section id="container">
<!--header start-->
<header class="header fixed-top clearfix">
<!--logo start-->
<div class="brand">
    <a href="/Admin" class="logo2">
        VISITORS
    </a>
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars"></div>
    </div>
</div>
<!--logo end-->

<div class="nav notify-row" id="top_menu">
    <!--  notification start -->
</div>
</header>
<!--header end-->
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li class="sub-menu">
                    <a class="active" href="javascript:;">
                        <i class="fa fa-th"></i>
                        <span>Data Tables</span>
                    </a>
                    <ul class="sub">
                        <li><a class="active" href="/Admin/table">Record Booking</a></li>
                        <li><a  href="/Admin/Checking">Checkin</a></li>
                        <li><a  href="/Admin/Checkout">CheckOut</a></li>
                    </ul>
                </li>
            </ul>            
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<!--main content start-->
<section id="main-content">
	<section class="wrapper">
            <div class="booking-form">
                <form class="form-calendar" autocomplete="off" action="/Admin/table" method="GET">
                    <div class="check-date">
                        <!-- <label for="date-in">Check In:</label> -->
                        <input type="text" autocomplete="off" class="date-input" id="date-in2" name="start_date" placeholder="CHECK DATE">
                        <i class="icon_calendar"></i>
                    </div>
                    <div class="check-name">
                        <input type="text" autocomplete="off" class="name-input" id="name-input" name="name-input" placeholder="YOUR NAME" >
                    </div>
                    <button class="button-calendar" type="submit">Check</button>
                </form>
            </div>
		<div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
     Basic table
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>
            <th data-breakpoints="xs">No.</th>
            <th>Room_Number</th>
            <th>Room_Name</th>
            <th >Check_IN</th>
            <th >Check_OUT</th>
            <th data-breakpoints="xs">Name</th>
            <th>Phone</th>
            <th >Stay</th>
            <th>Cancel</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i of locals.record) { %>
            <%let options = { year: 'numeric', month: 'long', day: 'numeric' }; %>
            <% let FormatStartDate = new Date(i.CheckIn).toLocaleDateString("en-US", options); %>
            <% let FormatEndDate = new Date(i.CheckOut).toLocaleDateString("en-US", options); %>
            <tr data-expanded="true">
                <td><%= i.No %></td>
                <td><%= i.Room_number %></td>
                <td><%= i.Room_name %></td>
                <td><%= FormatStartDate %></td>
                <td><%= FormatEndDate %></td>
                <td><%= i.Name %></td>
                <td><%= i.Phone_number %></td>

                <% if (i.Stay == '1') { %>
                    <td><%= "Come to stay" %></td>
                <% } 
                else { %>
                    <td><%= "Not staying" %></td>
                <% } %>
                <% if (i.Cancel == '1') { %>
                    <td><%= "cancel" %></td>
                <% } 
                else { %>
                    <td><%= "Not canceled" %></td>
                <% } %>
              </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <% if(locals.Pages !== 'undefined') { %>
      <input type="hidden" id="PageId" name="Page" value="1">
      <% } 
      else {%>
        <input type="hidden" id="PageId" name="Page" value='<%= Pages %>'>
      <% } %>
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>

      <li class="page-item"><a class="page-link" tabindex="0" href="/Admin/table">1</a></li>
      <li class="page-item"><a class="page-link" tabindex="1" href="/Admin/table">2</a></li>
      <li class="page-item"><a class="page-link" tabindex="2" href="/Admin/table">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" tabindex="3">Next</a>
      </li>
    </ul>
  </nav> -->
</div>
</section>
 <!-- footer -->
		  <div class="footer">
			<div class="wthree-copyright">
			  <p>© 2017 Visitors. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
			</div>
		  </div>
  <!-- / footer -->
</section>

<!--main content end-->
</section>
<script src="/public/jsAdmin/bootstrap.js"></script>
<script src="/public/jsAdmin/jquery.dcjqaccordion.2.7.js"></script>
<script src="/public/jsAdmin/scripts.js"></script>
<script src="/public/jsAdmin/jquery.slimscroll.js"></script>
<script src="/public/jsAdmin/jquery.nicescroll.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/public/jsAdmin/flot-chart/excanvas.min.js"></script><![endif]-->
<script src="/public/jsAdmin/jquery.scrollTo.js"></script>

    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/jquery.magnific-popup.min.js"></script>
    <script src="/public/js/jquery.nice-select.min.js"></script>
    <script src="/public/js/jquery-ui.min.js"></script>
    <script src="/public/js/jquery.slicknav.js"></script>
    <script src="/public/js/owl.carousel.min.js"></script>
    <script src="/public/js/main.js"></script>

</body>
</html>
