<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sona | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/stylecalendar.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section"></header>
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tn-left">
                            <li><i class="fa fa-phone"></i> (12) 345 67890</li>
                            <li><i class="fa fa-envelope"></i> info.colorlib@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="tn-right">
                            <a href="./login.html" class="bk-btn">login/SignUp</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li class="active"><a href="./rooms">Rooms</a></li>
                                    <li><a href="./about-us.html">About Us</a></li>
                                    <li><a href="./pages.html">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="./room-details.html">Room Details</a></li>
                                            <li><a href="./blog-details.html">Blog Details</a></li>
                                            <li><a href="#">Family Room</a></li>
                                            <li><a href="#">Premium Room</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="./contact.html">Contact</a></li>
                                    <li><a href="./my.html">My</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Booking -->

    <div class="container">
            <div class="booking-form">
                <form class="form-calendar" autocomplete="off" action="./rooms" method="POST">
                    <div class="check-date">
                        <!-- <label for="date-in">Check In:</label> -->
                        <input type="text" autocomplete="off" class="date-input" id="date-in" name="start_date" placeholder="Check In"  required>
                        
                        <i class="icon_calendar"></i>
                    </div>
                    <div class="check-date">
                        <!-- <label for="date-out">Check Out:</label> -->
                        <input type="text" autocomplete="off" class="date-output" id="date-out"  name="end_date" placeholder="Check Out"  required>
                        <i class="icon_calendar"></i>
                    </div>
                    <div class="select-option">
                        <!-- <label for="guest">Guests:</label> -->
                        <select id="guest" name="guest_name">
                            <option value="1" <% if (locals.Adult == '1') { %>selected<% } %> >1 Adults</option>
                            <option value="2" <% if (locals.Adult == '2') { %>selected<% } %> >2 Adults</option>
                            <option value="3" <% if (locals.Adult == '3') { %>selected<% } %> >3 Adults</option>
                        </select>
                    </div>
                    <div class="select-option">
                        <!-- <label for="room">Room:</label> -->
                        <select id="childrens" name="childrens">
                            <option value="0" <% if (locals.children == '0') { %>selected<% } %> >0 childrens</option>
                            <option value="1" <% if (locals.children == '1') { %>selected<% } %> >1 childrens</option>
                        </select>
                    </div>
                    <button class="button-calendar" type="submit">Check Availability</button>
                </form>
            </div>
    </div>

    <!-- End Booking-->


    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Our Rooms</h2>
                        <div class="bt-option">
                            <a href="./home.html">Home</a>
                            <span>Rooms</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Rooms Section Begin -->
    <section class="rooms-section spad">
        <div class="container">
            <div class="row">
                <% if (typeof locals.name !== 'undefined') { %>
                    <% for(let i of locals.CheckPeople) { %>
                        <% if (Adult <= i.Adults && children <= i.Children) {  %>
                        <div class="col-lg-4 col-md-6">
                            <div class="room-item">
                                <img src="<%= i.Picture %>" alt="">
                                <div class="ri-text">
                                    <h4><%= i.Name %></h4>
                                    <h3><%= i.Price %>$<span>/Pernight</span></h3>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="r-o">Size:</td>
                                                <td>30 ft</td>
                                            </tr>
                                            <tr>
                                                <td class="r-o">Capacity:</td>
                                                <td><%= i.Adults %> and <%= i.Children %></td>
                                            </tr>
                                            <tr>
                                                <td class="r-o">Bed:</td>
                                                <td>King Beds</td>
                                            </tr>
                                            <tr>
                                                <td class="r-o">Services:</td>
                                                <td>Wifi, Television, Bathroom,...</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="#" class="primary-btn" id = '<%= i.Name %>'>BOOK</a>
                                    <h2></h2>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    <% } %>
                <% } 
                else{ %>
                    <% for(let i = 0;i < 6;i++) { %>
                        <div class="col-lg-4 col-md-6">
                            <div class="room-item">
                                <img src="<%= locals.CheckPeople[i].Picture %>" alt="">
                                <div class="ri-text">
                                    <h4><%= locals.CheckPeople[i].Name %></h4>
                                    <h3><%= locals.CheckPeople[i].Price %>$<span>/Pernight</span></h3>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="r-o">Size:</td>
                                                <td>30 ft</td>
                                            </tr>
                                            <tr>
                                                <td class="r-o">Capacity:</td>
                                                <td><%= locals.CheckPeople[i].Adults %> and <%= locals.CheckPeople[i].Children %></td>
                                            </tr>
                                            <tr>
                                                <td class="r-o">Bed:</td>
                                                <td>King Beds</td>
                                            </tr>
                                            <tr>
                                                <td class="r-o">Services:</td>
                                                <td>Wifi, Television, Bathroom,...</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="#" class="primary-btn" id = '<%= locals.CheckPeople[i].Name %>'>BOOK</a>
                                    <h2></h2>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </section>
    <!-- Rooms Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="#">
                                    <img src="img/footer-logo.png" alt="">
                                </a>
                            </div>
                            <p>We inspire and reach millions of travelers<br /> across 90 local websites</p>
                            <div class="fa-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>Contact Us</h6>
                            <ul>
                                <li>(12) 345 67890</li>
                                <li>info.colorlib@gmail.com</li>
                                <li>856 Cordia Extension Apt. 356, Lake, United State</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6>New latest</h6>
                            <p>Get the latest updates and offers.</p>
                            <form action="#" class="fn-form">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Environmental Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="co-text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->



    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        window.onload = setDate
        function setDate() {
            <% if (locals.name) { %>
            let getStartDate = '<%= name %>';
            if(typeof getStartDate !== 'undefined'){
                let $datepicker = $('#date-in');
                $datepicker.datepicker('setDate', new Date(getStartDate));
            }
        <% } %>

            <% if (locals.endDate) { %>
            let getEndDate = '<%= endDate %>';
            if(typeof getEndDate !== 'undefined'){
                let $datepicker = $('#date-out');
                $datepicker.datepicker('setDate', new Date(getEndDate));
            }
        <% } %>
        }
    </script>
</body>

</html>
